<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/main.css"></head>
<body class = "teal">
        <div class = "container">
            <div class = "card center">
                <div class="card-content"><h1>Good job today!</h1> <br>
                <p>You'll get an email with your results shortly</p></div>
                <a href = "/"><button class = "btn deep-purple">Back</button></a>
            <div>
        </div>
</html>